<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link href="../static/css/style.css" rel="stylesheet">-->
</head>

<body>
    <img src="/static/img/sd.jpg">
    <img src="{{ static_url('img/sd.jpg') }} " alt="">
    <h1 style="color:rebeccapurple">"Hello, World"</h1>
    <form method="post" action="/login">
        <input type="text" name="username" />
        <input type="text" name="password" />
        <input type="submit" value="提交" />
    </form>
</body>



</html>